.movie-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
  }
  
  .movie-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .happy-background {
    background-color: #ffeb3b; /* Mutlu film rengi */
    color: #000; /* Yazı rengi */
}

.sad-background {
    background-color: #2196f3; /* Hüzünlü film rengi */
    color: #fff; /* Yazı rengi */
}

.action-background {
    background-color: #f44336; /* Aksiyon film rengi */
    color: #fff; /* Yazı rengi */
}

/* Anime arka plan rengi */
.anime-background {
    background-color: #673ab7; /* Anime film rengi */
    color: #fff; /* Yazı rengi */
}

/* Genel stiller */
.MovieSuggestions {
    padding: 20px; /* İçerik için boşluk */
    border-radius: 10px; /* Kenar yuvarlama */
    transition: background-color 0.3s; /* Geçiş efekti */
}
.app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
  }
  
  .mutlu {
    background-color: #ffeb3b; /* Sarı */
  }
  
  .hüzünlü {
    background-color: #2196f3; /* Mavi */
  }
  
  .aksiyon {
    background-color: #f44336; /* Kırmızı */
  }
  
  .rastgele {
    background-color: #673ab7; /* Mor */
  }
  
  .anime {
    background-color: #4caf50; /* Yeşil */
  }
  